body {
    margin: 0;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background:none;
}

h1 {
    position: absolute;
    top: 100;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    
}

header {
    height: 40vh;
    margin: 0;
}

header img {
    filter: brightness(30%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h2, p {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    
}

#create-club-h2 {
    font-size: 2.5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;

}

.create-club-form {
    margin: 3em auto;
    max-width: 500px;
    background-color: rgb(245, 245, 245);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0px 3px 5px #808080;
}

.form-group-clubs{
    padding: 0.5em 0;
}

.form-group-clubs input{
    width: 400px;
    margin-top: 10px;
    height: 37px;
}

.form-group-clubs select{
    width: 400px;
    margin-top: 10px;
    height: 40px;
    padding: 0 0.5em;
    font-size: 1.02em;
}

.form-group-clubs select:hover{
    cursor: pointer;
}


.btn-submit-clubs{
    margin-top: 1.5em;
    background-image: linear-gradient(to right, rgb(92, 48, 113), rgb(197, 86, 177));
    border:0;
    border-radius: 2em;
    color: white;
    height: 50px;
    width: 500px;

}

#profile_picture{
    font-size: 17px;
}

.btn-submit-clubs:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(69, 37, 84), rgb(147, 89, 136));

}

/*Live preview Image*/

#pic_label{
    margin-top: 1rem;
    background: url("../images/mmu.png") no-repeat center;
    background-size: cover;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    text-align: center;
    border-radius: 50%;
}

#pic_label:hover{
    cursor: pointer;
}

#pic_label input[ type = "file" ]{
    display: none;
}


